certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
Flask==2.0.2
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
protobuf==3.18.0
python-cas==1.6.0
requests==2.26.0
six==1.16.0
urllib3==1.26.7
Werkzeug==2.0.1
