<!DOCTYPE html>
<html>
<head>
    <script>
        function exec() {
            input = document.querySelector("#input");
            output = document.querySelector("#output");
            fetch("/api", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(JSON.parse(input.value)),
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                return response.text();
            })
            .then(data => {
                if (typeof(data)==="string") {
                    output.value = data;
                    output.setAttribute("style", "color:red");
                }
                else {
                    output.value = JSON.stringify(data, undefined, 4);
                    output.setAttribute("style", "color:black");
                }
            });
        }
        function fillInput(text) {
            input = document.querySelector("#input");
            input.value = JSON.stringify(JSON.parse(text), undefined, 4);
        }
        const getEvents = '{"sp_name": "getEvents", "params": []}';
        const addEvent = '{"sp_name": "addEvent", "params": ["new event name", "new event description", "2021-10-25", "2021-10-26"]}';
    </script>
</head>

<body>
    <h1>Test API</h1>
    
    <input type="button" value="getEvents" onclick="fillInput(getEvents)" />
    <input type="button" value="addEvent" onclick="fillInput(addEvent)" />
    <input type="button" value="Submit" onclick="exec()" />

    <br />

    <textarea id="input" rows=16 cols=72></textarea>

    <br />

    <textarea readonly id="output" rows=16 cols=72></textarea>

</body>
</html>
