<!DOCTYPE html>
<html>
    <head>
        <title>WhenIsGood</title>
    </head>
    <body>
        <h1>Edit Event</h1>
        <form action="/edit/{{editUUID}}" method="POST">
            <!-- prefill values with previously saved -->
            <p>Name:</p>
            <p><input type="text" name="name" /></p>
            <p>Description:</p>
            <p><input type="text" name="description" /></p>
            <p>Start Date:</p>
            <p><input type="text" name="startDate" /></p>
            <p>End Date:</p>
            <p><input type="text" name="endDate" /></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </body>
</html>
