<!DOCTYPE html>
<html>
    <head>
        <title>WhenIsGood</title>
    </head>
    <body>
        <h1>My Events</h1>
        <h3>Logged in as {{name}}.
            <a href="/logout">Log out</a>
        </h3>
        <h3>
            <a href="/create">Create new event</a>
        </h3>
        <br />
        {% if events %}
            {% for event in events %}
                <h4>{{event[0]}}</h4>
                <p>{{event[3]}} - {{event[4]}}</p>
                <p>{{event[1]}}</p>
                <p>
                    <a href="/event/{{event[5]}}">Event Link</a>
                </p>
                <br />
            {% endfor %}
        {% endif %}
    </body>
</html>
